<h1>Login</h1>

<form name="login" method="POST">
    <input type="email" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Password" />
    <text style="color:red">{{error}}</text>
    <br />
    <button type="submit" value="submit" name="submit">log in</button>
</form>

<p>Register<a href="/signup">signUp</a></p>