<div class="form_container">
    <form name="login" method="POST">
        <div class="form_title">
            <text>SIGN IN</text>
            <span class="form_bar"></span>
        </div>
        <div class="cont_text_inputs">
            <input
                class="input_field"
                type="email"
                name="email"
                placeholder="EMAIL"
            />
            <input
                type="password"
                class="input_field"
                placeholder="PASSWORD"
                name="password"
            />
            <button
                class="form_btn"
                type="submit"
                value="submit"
                name="submit"
            >SIGN IN</button>

        </div>
        <text class="txt_error" style="color:red">{{error}}</text>
    </form>
</div>

<text class="cont_text">Not a member yet!
    <a class="link_form" href="/signup">SIGN UP</a></text>