<div class="form_sign_container">
    <form name="signature" method="POST">
        <div class="form_title">
            <text>SIGN HERE</text>
            <span class="form_bar"></span>
        </div>
        <canvas id="canvas_signature" width="400" height="100">
        </canvas>
        <input
            type="hidden"
            name="signatureUrl"
            id="canvasimg"
            style="position: absolute; top: 10%; left: 52%"
        />
        <br />
        <div class="cont_btn">
            <button class="form_btn" id="clear_canvas">Clear</button>
            <button
                class="form_btn"
                type="submit"
                value="submit"
                name="submit"
            >Submit</button></div>
    </form>
</div>