{{#if signed}}
    <h1>Success</h1>

{{else}}
    <h1>petition</h1>

    <form method="POST">
        <input
            type="text"
            name="first_name"
            placeholder="First Name"
            required="required"
        />
        <input
            type="text"
            name="last_name"
            placeholder="Last Name"
            required="required"
        />

        <p>
            signing this petition!!!!

        </p>
        <button type="submit">Submit</button>
    </form>

{{/if}}