<text class="city_title">SIGN PETITION</text>
<div class="cont_dscrp">

    <text class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae
        ipsum at eros fermentum tristique vel in dui. Praesent maximus
        condimentum tortor vitae imperdiet. Pellentesque in semper urna. Nulla
        facilisi. Nam aliquet finibus turpis at porta. Suspendisse consequat,
        nunc a venenatis feugiat, turpis nibh finibus sem, et pharetra nisl quam
        ac est.
    </text>

</div>

<div class="form_sign_container">
    <form name="signature" method="POST">
        <div class="form_title">
            <text>SIGN HERE</text>
            <span class="form_bar"></span>
        </div>
        <canvas id="canvas_signature" width="400" height="100">
        </canvas>
        <input
            type="hidden"
            name="signatureUrl"
            id="canvasimg"
            style="position: absolute; top: 10%; left: 52%"
        />
        <br />
        <div class="cont_btn">
            <button class="form_btn" id="clear_canvas">Clear</button>
            <button
                class="form_btn"
                type="submit"
                value="submit"
                name="submit"
            >Submit</button></div>
        <text class="txt_error" style="color:red">{{error}}</text>
    </form>
</div>