<h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae ipsum
    at eros fermentum tristique vel in dui. Praesent maximus condimentum tortor
    vitae imperdiet. Pellentesque in semper urna. Nulla facilisi. Nam aliquet
    finibus turpis at porta. Suspendisse consequat, nunc a venenatis feugiat,
    turpis nibh finibus sem, et pharetra nisl quam ac est.
</h3>

{{#signers}}
    {{"first_name"}}
    {{"last_name"}}<br />
{{/signers}}