<div class="cont_thanks">
    <text class="form_title thanks_title">THANKS FOR SIGNING</h1>
    <img src={{signature}} />
    <a class="link" href="/petition/signers">see all {{count}} signers</a>

</div>
<div style="padding: 20px ; display: flex;">
<a class="link_form edit" href="/profile/edit">Edit profile</a>&nbsp;&nbsp;
<text style="color:white;">|</text>&nbsp;&nbsp;
<form name="delete" action="/signature/delete" method="POST" >
 <button type="submit" value="submit" class="btn_delete link_form edit">Delete Signature</button>
</form>

</div>