<div class="cont_thanks">
    <text class="form_title thanks_title">THANKS FOR SIGNING</h1>
    <img src={{signature}} />
    <a class="link" href="/petition/signers">see all {{count}} signers</a>

</div>
<div style="padding: 20px ;">
<a class="link_form edit" href="#">Edit profile</a>&nbsp;&nbsp;

<a class="link_form edit" href="#">Delete Signature</a>
</div>