<h1>petition | sign this petition!!!!</h1>

<form method="POST">
    <input type="text" name="first_name" placeholder="First Name" />
    <input type="text" name="last_name" placeholder="Last Name" />
    <text style="color:red">{{error}}</text>
    <br />
    <canvas
        id="canvas_signature"
        width="400"
        height="100"
        style="border: 2px dotted;position: relative;"
    >
    </canvas>
    <input type="hidden"
        name="signatureUrl"
        id="canvasimg"
        style="position: absolute; top: 10%; left: 52%"
        
    ></text>
    <br />

    {{! <button name="clear_canvas" onclick="erase()">Clear</button> }}
    <button type="submit" value="submit" name="submit">Submit</button>
</form>