<text class="city_title">THANKS FOR SUPPORTING!</text>

<div class="cont_dscrp">
    <text class="description" >
        Thanks for supporting petition :  bring cutlery to Spiced Academy Kitchen! Lorem ipsum dolor sit
        condimentum tortor vitae imperdiet.
        Pellentesque in semper urna. Nulla facilisi. Nam aliquet finibus turpis
        at porta. Suspendisse consequat, nunc a venenatis feugiat, turpis nibh
        finibus sem, et pharetra nisl quam ac est.
    </text>
</div>

<div class="cont_thanks">
    <text class="form_title thanks_title">THANKS FOR SIGNING</h1>
    <img src={{signature}} />
    <a class="link" href="/petition/signers">see all {{count}} signers</a>
</div>
<div style="padding: 20px ; display: flex;">
    <a class="link_form edit" href="/profile/edit">Edit profile</a>&nbsp;&nbsp;
    <text style="color:antiquewhite; font-weight:bold;">|</text>&nbsp;&nbsp;
    <form name="delete" action="/signature/delete" method="POST" >
        <button type="submit" value="submit" class="btn_delete link_form edit">Delete Signature</button>
    </form>&nbsp;&nbsp;
    <text style="color:antiquewhite; font-weight:bold;">|</text>&nbsp;&nbsp;
    <form name="delete" action="/delete/user" method="POST" >
        <button type="submit" value="submit" class="btn_delete link_form edit">Delete Account</button>
    </form>
</div>