<h1>Pleasse tell about your self</h1>
<h1>PRofile</h1>

<form name="Profile" method="POST">
    <input type="text" name="age" placeholder="Age" />
    <input type="text" name="city" placeholder="City" />
    <input type="test" name="url" placeholder="Home page" />

    <button type="submit" value="submit" name="submit">Continue</button>
</form>