<h1>Sign Up</h1>

<form name="signup" method="POST">
    <input type="text" name="first_name" placeholder="First Name" />
    <input type="text" name="last_name" placeholder="Last Name" />
    <input type="email" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Password" />
    <text style="color:red">{{error}}</text>
    <br />
    <button type="submit" value="submit" name="submit">SignUp</button>
</form>
<p>if you already a member, please <a href="/login">log in</a></p>