<div class="form_container">
    <form name="signup" method="POST">
        <div class="form_title">
            <text>SIGN UP</text>
            <span class="form_bar"></span>
        </div>
        <div class="cont_text_inputs">
            <input
                class="input_field"
                type="text"
                name="first_name"
                placeholder="FIRST NAME"
            />
            <input
                class="input_field"
                type="text"
                name="last_name"
                placeholder="LAST NAME"
            />
            <input
                class="input_field"
                type="email"
                name="email"
                placeholder="EMAIL"
            />
            <input
                type="password"
                class="input_field"
                placeholder="PASSWORD"
                name="password"
            />
            <button
                class="form_btn"
                type="submit"
                value="submit"
                name="submit"
            >SIGN UP</button>

        </div>
        <text class="txt_error" style="color:red">{{error}}</text>
    </form>
</div>

<text class="cont_text">already a member!
    <a class="link_form" href="/login">SIGN IN</a></text>