<text class="city_title">BRING MORE CUTLERY</text>

<div class="cont_dscrp">
    <text class="description">
        Bring more cutlery to Spiced Academy Kitchen! Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Donec vitae ipsum at eros fermentum
        vel in dui. Praesent maximus condimentum tortor vitae imperdiet.
        Pellentesque in semper urna. Nulla facilisi. Nam aliquet finibus turpis
        at porta. Suspendisse consequat, nunc a venenatis feugiat, turpis nibh
        finibus sem, et pharetra nisl quam ac est.
    </text>

</div>

<div class="form_container">
    <form name="signup" method="POST">
        <div class="form_title">
            <text>SIGN UP</text>
            <span class="form_bar"></span>
        </div>
        <div class="cont_text_inputs">
            <input
                class="input_field"
                type="text"
                name="first_name"
                placeholder="FIRST NAME"
            />
            <input
                class="input_field"
                type="text"
                name="last_name"
                placeholder="LAST NAME"
            />
            <input
                class="input_field"
                type="email"
                name="email"
                placeholder="EMAIL"
            />
            <input
                type="password"
                class="input_field"
                placeholder="PASSWORD"
                name="password"
            />
            <button
                class="form_btn"
                type="submit"
                value="submit"
                name="submit"
            >SIGN UP</button>

        </div>
        <text class="txt_error" style="color:red">{{error}}</text>
    </form>
</div>

<text class="cont_text">already a member!
    <a class="link_form" href="/login">SIGN IN</a></text>